**/node_modules/*
**/out/*
**/dist/*
**/dist-cjs/*
**/dist-esm/*
**/.next/*
**/api/*
!**/pages/api/*
**/.tsbuild*
**/.next/*
**/_archive/*

apps/examples/www
content.json
**/gen/**/*.md
.github/pull_request_template.md

**/api-report.md
**/api-report.api.md
**/CHANGELOG.md

**/.vercel/*
**/.wrangler/*
**/.out/*
**/.temp/*
dotcom/public/**/*.*

**/.clasp.json

apps/dotcom/zero-cache/docker/docker-compose.yml

lerna.json